@import "../UI/btn";
@import "../UI/inputs";
@import "vars";
@import "mixins";
html {
  height: 100%;
  font-family: 'Lato';
  font-size: 13px;
  line-height: 15px;
}
*{
  scrollbar-color: $blue rgba(61, 64, 80, 1);
  scrollbar-width:thin;
  &::-webkit-scrollbar{
    width:6px;
    height:8px;
  }
  &::-webkit-scrollbar-track{
    background-color:rgba(61, 64, 80, 1);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: $blue;
    border-radius: 3px;
  }
}

a,
a:visited{
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style-type: none;
}

.title{
  font-size: 48px;
  line-height: 57.6px;
  text-transform: uppercase;
  font-weight: 700;
  &_small{
    font-size: 36px;
    line-height: 43.2px;
    color: $white;
    text-transform: uppercase;
  }
  @media($mobile-mini){
    font-size: 36px;
    line-height: 43px;
    &_small{
      font-size: 24px;
      line-height: 29px;
    }
  }
}
.subtitle{
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  &_small{
    font-size: 18px;
    line-height: 21.6px;
    color: $special-gray;
  }
}

.wrapper{
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  @media($tablet){
    max-width: 900px;
  }
}
.hidden{
  display: none;
}