.header{
  background: rgba(16, 16, 29, 0.9);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
  padding: 33px 0;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo{
    height: 35px;
    display: flex;
    align-items: center;
  }
  &__nav{
    @media(max-width: 767px){
      display: none;
    }
  }
  &__btn{
    display: none;
    background: transparent;
    cursor: pointer;
    @media(max-width: 767px){
      display: block;
    }
  }
}
.nav{
  display: flex;
  color: $white;
  &__item{
    text-transform: uppercase;
    &:not(:last-child){
      margin-right: 60px;
    }
    &.active{
      .nav__link{
        color:$blue
      }
    }
    &:hover{
      .nav__link{
        &:after{
          width: 100%;
          right: auto;
        }
      }
    }
  }
  &__link{
    color: $white;
    position: relative;

    &:after{
      content: '';
      background: $white;
      height: 1px;
      width: 0;
      position: absolute;
      left: 0;
      bottom: -5px;
      transition: all .3s linear;
    }
  }
  &__mobile{
    position: absolute;
    background: rgba(16, 16, 29, 0.9);
    width: 100%;
    left: 0;
    top: 114px;
    flex-direction: column;
    .nav__item{
      padding: 10px 0;
      margin-right: 0;
      text-align: center;
      &:hover{
        background: rgba(16,16,29,1);
        .nav__link{
          &:after{
            display: none;
          }
        }
      }
    }
  }
}