.order{
  background-image: url('../../static/img/map_bg.png');
  background-color:#272733;
  background-size: cover;
  background-position: center -50px;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 150px;
  @media(max-width: 767px){
    padding-bottom: 80px;
    padding-top: 80px;
  }
  &__title{
    text-align: center;
    margin-bottom: 30px;
    span{
      color: $blue;
    }
  }
  &__subtitle{
    text-align: center;
  }
  .steps,
  .feedback{
    margin-top: 80px;
    @media(max-width: 767px){
      margin-top: 40px;
    }
  }
}
.item{
  width: 100%;
  position: relative;

  &:first-child {
    .item__divider {
      display: none;
    }
  }
  @media(max-width: 600px){
    max-width: 47%;
    &:nth-child(odd){
      .item__divider{
        display: none;
      }
    }
  }
  &__divider{
    position: absolute;
    top: 50px;
    right: calc(50% + 54px);
    width: calc(100% - 118px);
    height: 6px;
    background: url('../../static/img/dot.svg');
    background-size: 26px;
    background-repeat: repeat-x;
    @media ($mobile) {
      right: calc(50% + 32px);
      top: 35px;
      width: calc(100% - 77px);
    }
    @media($mobile-mini){
      right: calc(50% + 38px);
      width: calc(100% - 93px);
    }
  }
  &__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: $blue;
    border: 5px solid #286690;
    border-radius: 50%;
    @media(max-width: 767px){
      width: 70px;
      height: 70px;
      img{
        transform: scale(.7);
      }
    }
  }
  &__text{
    color: $white;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 188px;
  }
}
.steps{
  &__wrapper{
    align-items: flex-start !important;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    @media(max-width: 600px){
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  &__item{
    @media(max-width: 600px){
      margin-bottom: 20px;
    }
  }
}
.feedback {
  &__input {
    &:not(:last-child) {
      margin-right: 30px;
      @media(max-width: 767px){
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }
  &__btn{
    cursor: pointer;
    color: $input-color;
    img{
      margin-right: 10px;
    }
  }
  &__wrapper{
    &:not(:last-child){
      margin-bottom: 30px;
    }
    @media(max-width: 767px){
      flex-direction: column;
    }
  }
  &__form{
    button{
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.range__wrapper{
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 770px;
  width: 100%;
  margin-right: 30px;
  color: $white;
  font-size: 18px;
  line-height: 21.6px;
  @media(max-width: 767px){
    margin-right: 0;
    margin-bottom: 40px;
    max-width: 370px;
  }
}