.select2 {
  font-size: 18px;
  line-height: 21.6px;
  color: $input-color;
  width: 100%;
  max-width: 370px;
  margin-right: 30px;
  @media(max-width: 767px){
    margin-right: 0;
    margin-bottom: 30px;
  }

  &-container {
    &--default {
      background-color: rgba(255,255,255,.85);
      height: 48px;
      border: none;
      border-radius: 3px;
      appearance: none;
      width: 100% !important;
      max-width: 370px;
      .select2-selection--single{
        .select2-selection__placeholder{
          color: $input-color;
        }
        .select2-selection__arrow {
          height: 100% !important;
          top: 0;
          right: 11px;
          b{
            background-repeat: no-repeat;
            background-size: contain;
            border: none!important;
            width: 9px;
            height: 5px;
            background-image: url("../../static/img/drdwn.svg") !important;
          }
        }
      }
    }
    &--open{
      color: $white;
      background-color: rgba(61, 64, 80, 0.85);
      border-radius: 3px 3px 0 0;
      .select2-selection--single{
        .select2-selection{
          &__rendered{
            color: $white;
            .select2-selection__placeholder{
              color: $white;
            }
          }
          &__arrow{
            b{
              filter: invert(1);
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }

  &-results {
  &>.select2-results__options{
    max-height: 180px!important;
    margin: 2px 4px 3px 0 !important;
  }
    &__option {
      background-color:rgba(39, 39, 51,.9) !important;
      font-size: 18px;
      line-height: 21.6px;
      padding: 6px 10px;

      &--highlighted {
        color: $blue !important;
      }
    }
  }

  &-dropdown {
    border: 1px solid #3d4050;
    border-radius: 3px;
    background-color: rgba(39,39,51,.9);
  }

  &-selection {
    &--single {
      background-color: transparent !important;
      border: none !important;
      .select2-selection__rendered{
        padding: 10px !important;
      }
    }

    &__choice {
      background-color: transparent !important;
      padding: 0 !important;
      border: none !important;
      margin-left: 0 !important;

      &__display {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      &__remove{
        display: none;
      }
    }
  }

  &-default {
    color: $black;
  }

  &-results{
    &__message {
      display: none;
    }

  }

}
